.chat_header {
  align-items: center;
  background: @brand2;
  box-sizing: border-box;
  color: @white;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 18px;
  justify-content: center;
  max-height: 48px;
  padding: 8px;
}

.chat_container {
  display: block;
  height: 100%;
}

.chat_message {
  color: @message;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  justify-content: space-between;
  padding: 4px 24px;
  position: relative;
  word-break: break-word;
}

.chat_message--container {
  display: flex;
  flex-direction: column;
  height: 77.5%;
  overflow-x: hidden;
}

.chat_message--input {
  display: flex;
  margin: 10px;
}

.chat_message--ctrls {
  align-items: center;
  background: @brand2;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  position: -webkit-sticky;
  position: sticky;
}

.chat_message p {
  flex: 1;
}

.chat_avatar {
  display: block;
  margin-right: 16px;
}
