// no-scrollbar: https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
.zone-content {
  overflow-x: hidden;
  overflow-y: scroll;
}

.zone-content::-webkit-scrollbar {
  width: 0;
}
