// no-scrollbar: https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll

.video_screen {
  display: block;
}

.zones_container {
  height: 100vh;
  overflow: scroll;
  padding: 30px;
  width: 100%;
}

.zone_content {
  overflow: scroll;
  min-height: 600px;
  height: 100%;
}

.zone_controls {
  background-color: @brand2_lighter;
  min-height: 170px;
}

.zone_content::-webkit-scrollbar {
  width: 0;
}

.zonecard_title {
  text-align: center;
  font-size: 1.4rem;
  padding: 10px;
  font-weight: 800;
  background: @brand2;
  color: @white;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zonecard_cols {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.zonecard_big_text {
  text-align: center;
  font-weight: 800;
}

.zonecard_small_text {
  margin: 0;
  font-size: 0.6rem;
  text-align: center;
}

.zonecard_hostname {
  text-align: center;
  font-weight: 800;
  margin: 0;
}

.zonecard_meta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 80px;
}
